<!-- <ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" (click)="GotoHomePage()"></ion-icon>
    <ion-title>Detail Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" (click)="GotoHomepage()">Home Page</ion-button>
    <ion-button expand="round" (click)="HelloButton()" class="hello">Click me!</ion-button>
</ion-content> -->
<!-- <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Notes
      </ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="clipboard"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-list>
      <ion-item button detail>
        <ion-label>Title goes here</ion-label>
      </ion-item>
    </ion-list>
  
  </ion-content> -->
